/*
*	mainStyle.css
*	Author:		Gian Biondi
*	Site:		http://www.hamiltonnjpl.org/
*	Version:	1.0
*/

body {
	font-family: 	"HelveticaNeue-Light", "Helvetica Neue Light", 
					"Helvetica Neue", Helvetica, Arial, "Lucida Grande", 
					sans-serif; 
	font-weight: 300;
	//background-color:#23396b;
	background-color:#56c0c0;
}

.body {
	width: 1000px;
	margin: 0px auto;
	//background-color:#008080;
	background-color:#ffffff;
	//outline:1px solid #005353;//#051f5d ;
}

#page_container {
	box-shadow:0px 0px 15px 10px #008080;

}

header#banner {
	background-color:#008080;
}

header a img {
	margin-top: 5px;
}

/*
************************************************************
*	Main top Nav bar
************************************************************
*/
#top {
	padding: 0px 0px 0px 0px;
	margin-bottom:0px;
	height:50px;
	
	border-bottom:1px solid black;
	border-top:1px solid black;
	
}

#top ul {
	list-style:none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#top li {
	padding-top:5px;
	float: left;
	width: 125px;
	height:50px;
	text-align: center;
	//border-top:1px solid black;
	//border-bottom:1px solid black;
}

#top a:link, #top a:visited {
	display: inline-block;
	font-size: 20px;
	text-decoration: none;
	color: black;
	margin:0 auto;
	
}

#top li ul {
	display:none;
	width: 10em;
}

#top li ul li {
	width: 5em;
}

/*
************************************************************
*	Content Section
************************************************************
*/

#body {
	margin-top:0px;
	min-height:670px;
}

#content {
	
}

.content {
	float: left;
}

.page {
	min-height:650px;
}
#left {
	padding-left: 5px;
	float:left;
	width:325px;
	border-right:1px solid black;
}
#right {
	float:left;
	width:650px;
	margin-top: 16px;
	margin-left: 15px;
}

#info{

}
#libraryInfo {
	padding:0px;
	
}

#libraryInfo ul {
	list-style:none;
	
}

#libraryInfo li {
	display:block;
	background-color:#00ab00;
	border-radius: 8px;
	margin-bottom: 10px;
	text-align:center;
	width: 250px;
	min-height: 30px;
	box-shadow:0px 3px 10px 0px #56c0c0;
}

#libraryInfo ul li {
	box-shadow:0px 0px 0px 0px #56c0c0;

}

#libraryInfo a:link {
	font-size: 20px;
	text-decoration: none;
	color:black;
	margin: 0 auto;
	
}

#libraryInfo table {
	margin-left:0px;
}

#libraryInfo td {
	padding-left:20px;
}

#libraryInfo #hours_title {
	font-weight:bold;
}


#info_container {
	display:none;
}

#howDoI_container {
	display:none;
}

#howDoI_child {
	
	padding-left:0px;
	margin-left:0px;
	
}

#howDoI_child li {
	text-align:center;
}


#slideshow-container {

}

.bottom_content {
	position:relative;
	float:left;
	min-height: 200px;
	border: 2px black solid;
	width:320px;
	margin-top:5px;
	text-align:center;
}

#news {

	margin-right: 2px;
}

#events {

}

/*
************************************************************
*	Footer Section
************************************************************
*/
footer {
	margin: 0 auto;
	text-align: center;
	margin-top: 10px;
}